
									/*MY CODE START HERE!! */


body{
background-color: powderblue;
margin: 0px;

}
div	{

}
.top-container{
	background-color: green;
	border:solid 10px;
    width: 160px;
    height: 160px;
  
    padding-left: 20px;
    padding-top: 20px;
    
}
.middle-container{
	margin-left:200px; 
	border: solid 20px; 
	height: 160px;
	width: 160px;
	background-color: red;
	position: relative;
}
.bottom-container{
	border: solid 10px;
	height: 180px;
	width: 180px;
	background-color: blue;
	margin-left:400px; 
}